## Python Basic operations

## print("hello world")

In [2]:
var=10.0

In [3]:
var

10.0

In [4]:
firstVal="hello"
secVal="world"

In [5]:
print(firstVal,secVal)

hello world

In [6]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [8]:
print(firstVal+secVal)

helloworld

In [9]:
type(firstVal)

str

In [10]:
numVar=1.9

In [11]:
type(numVar)

float

In [13]:
var1=3
var2=9
ops=var1<var2
print(ops)
type(ops)

True

bool

In [14]:
myList=[1,"hello",9,10.0]

In [15]:
myList

[1, 'hello', 9, 10.0]

In [16]:
type(myList)

list

In [17]:
myList[2]

9

In [19]:
myTuple=(1,9,"hello",0)

In [20]:
myTuple

(1, 9, 'hello', 0)

In [21]:
myTuple[3]

0

In [22]:
myList[1]="hi"

In [23]:
myList

[1, 'hi', 9, 10.0]

In [24]:
myTuple[1]="hi" # tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [25]:
type(myTuple)

tuple

In [26]:
myDict={1:"hi",2:"hello",3:"what"}

In [27]:
myDict

{1: 'hi', 2: 'hello', 3: 'what'}

In [28]:
myDict[1]

'hi'

In [30]:
keyValue={"emp":["akshay","varun","rakshith"]}

In [32]:
keyValue["emp"][1]

'varun'

In [36]:
#placeholder
name="akshay"
age=26
print("name is %s and age is %d" %(name,age))

name is akshay and age is 26

In [39]:
print("name and age is",name,age)

name and age is akshay 26

In [41]:
print("name is ",name,"and age is",age)

name is  akshay and age is 26

In [43]:
a='50'
b=12
print(int(a)+b) # datatype conversion

62

In [45]:
float(a)

50.0

In [46]:
list1=list(myTuple)

In [47]:
list1

[1, 9, 'hello', 0]

In [48]:
balance=1000
if (balance==1000):
    print("spend the money")
else:
    print("save the money")

spend the money

In [49]:
balance=800
if (balance==1000):
    print("spend the money")
elif balance<1000:
    print("earn more")
else:
    print("save the money")

earn more

In [ ]:
#nested if else statements

In [52]:
balance=2600
if (balance>2000):
    if(balance==2100):
        print("balance equa to 2000")
    elif("balance equal to 2300"):    
        print("spend the money")
    else:
        print("nothing")
elif balance<1000:
    print("earn more")
else:
    print("save the money")

spend the money

In [53]:
#sequential-for loop
#conditional -while loop

for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [54]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [58]:
str="shambhavi"
for i in str:
    print(i,)

s
h
a
m
b
h
a
v
i

In [2]:
#take input from user
input=input("enter number")
print("value is",input)

enter number3
value is 3

In [3]:
i=0
while(i<10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [4]:
#exception handling

20/0

ZeroDivisionError: division by zero

## exception handling

In [5]:
try:
    answer=50/0
    print(answer)
except:
    print("number cannot be divided by zero")

number cannot be divided by zero

## functions

In [6]:
def func(a,b):
    print(a,b)
func(9,10)

9 10

In [7]:
def user_profile(username,followers=0):
    print(username,followers)
user_profile("akshay")

akshay 0

## class and objects

In [10]:
class Shark:
    def swim(self):
        print("shark is swimming")
    def be_awesome(self):
        print("shark is being awesome")
dobby=Shark()
dobby.swim()
dobby.be_awesome()

shark is swimming
shark is being awesome

In [11]:
del dobby #deletion of object

## constructor and destructor

In [12]:
class Vehicle:
    def __init__(self):
        print("constructor is called")
    def __del__(self):
        print("destructor is called")
truck=Vehicle()

constructor is called

In [13]:
del truck

destructor is called