## Missing value Imputation

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

In [4]:
dataset= pd.read_excel(r'C:/Users/Shambhavi/Downloads/stark_data.xlsx')

In [5]:
dataset.head()

  Character   Age  Gender  Survived
0    Eddard  52.0    Male         0
1      John  27.0    Male         1
2      Arya  21.0  Female         1
3      Bran  19.0    Male         1
4      Robb   NaN    Male         0

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
Character    6 non-null object
Age          5 non-null float64
Gender       6 non-null object
Survived     6 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 272.0+ bytes

In [7]:
dataset.isnull()

   Character    Age  Gender  Survived
0      False  False   False     False
1      False  False   False     False
2      False  False   False     False
3      False  False   False     False
4      False   True   False     False
5      False  False   False     False